
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #emoji img{
        height:32px;
        width:32px;
    }
</style>

<table id="emoji" class="table table-condensed">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Title
            </th>
            <th>
               Male
            </th>
            <th>
                Female
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Angry
            </td>
            <td>
                <img src="~/Content/40 ex/angry_m/te0 (2).png" />
            </td>
            <td>
                
                <img src="~/Content/40 ex/angry_f/te0 (1).png" />
            </td>
        </tr>       
        <tr>
            <td>
                2
            </td>
            <td>
                Cheeky
            </td>
            <td>
                <img src="~/Content/40 ex/cheeky_m/te0 (4).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/cheeky/te0 (3).png" />               
            </td>
        </tr>  
        <tr>
            <td>
                3
            </td>
            <td>
                Confused
            </td>
            <td>
                <img src="~/Content/40 ex/cheeky_m/te0 (4).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/confused_m/e0 (6).png" />
            </td>
        </tr> 
        <tr>
            <td>
                4
            </td>
            <td>
                Cool
            </td>
            <td>
                <img src="~/Content/40 ex/cool_m/te0 (8).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/cool_f/te0 (7).png" />                
            </td>
        </tr> 
        <tr>
            <td>
                5
            </td>
            <td>
                Crying
            </td>
            <td>
                <img src="~/Content/40 ex/crying_m/te0 (10).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/crying/te0 (9).png" />
            </td>
        </tr>  
        <tr>
            <td>
                6
            </td>
            <td>
                Devil
            </td>
            <td>
                <img src="~/Content/40 ex/m_devil/te1 (2).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/f_devil/te0 (11).png" />
            </td>
        </tr>    
        <tr>
            <td>
                7
            </td>
            <td>
                Horror
            </td>
            <td>
                <img src="~/Content/40 ex/horror_m/te0 (13).png" />                                
            </td>
            <td>
                <img src="~/Content/40 ex/horror_f/te0 (12).png" />
            </td>
        </tr>  
        <tr>
            <td>
                8
            </td>
            <td>
                Laugh
            </td>
            <td>
                <img src="~/Content/40 ex/laugh_m/te0 (15).png" />                
            </td>
            <td> 
                <img src="~/Content/40 ex/laugh_f/e0 (14).png" />               
            </td>
        </tr> 
        <tr>
            <td>
                9
            </td>
            <td>
                Love
            </td>
            <td>
                <img src="~/Content/40 ex/love_m/te1 (1).png" />                
            </td>
            <td>
                <img src="~/Content/40 ex/love_f/te0 (16).png" />                
            </td>
        </tr> 
        <tr>
            <td>
                10
            </td>
            <td>
                Angry
            </td>
            <td>
                <img src="~/Content/40 ex/angry_m/te0 (2).png" />
            </td>
            <td>

                <img src="~/Content/40 ex/angry_f/te0 (1).png" />
            </td>
        </tr>   
        <tr>
            <td>
                11
            </td>
            <td>
                Mad
            </td>
            <td>
                <img src="~/Content/40 ex/mad_f/te1 (3).png" />               
            </td>
            <td>
                <img src="~/Content/40 ex/mad_f/te1 (3).png" />
            </td>
        </tr>  
        <tr>
            <td>
                12
            </td>
            <td>
                My Lip sealed
            </td>
            <td>
                <img src="~/Content/40 ex/my lip esealed/te1 (5).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/my lip esealed_m/te1 (6).png" />
            </td>
        </tr>  
        <tr>
            <td>
                13
            </td>
            <td>
                Sad
            </td>
            <td>

                <img src="~/Content/40 ex/sad_m/te1 (8).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/sad_f/te1 (7).png" />
            </td>
        </tr>  
        <tr>
            <td>
                14
            </td>
            <td>
                Sleepy
            </td>
            <td>
                <img src="~/Content/40 ex/sleepy/te1 (9).png" />                
            </td>
            <td>
                <img src="~/Content/40 ex/sleepy_f/te1 (10).png" />
            </td>
        </tr> 
        <tr>
            <td>
                15
            </td>
            <td>
                Smile
            </td>
            <td>
                <img src="~/Content/40 ex/smile_m/te1 (12).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/smile_f/te1 (11).png" />                
            </td>
        </tr>  
        <tr>
            <td>
                16
            </td>
            <td>
                Surprised
            </td>
            <td>
                <img src="~/Content/40 ex/surprised_m/te2 (2).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/surprised/te2 (1).png" />
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                Terror
            </td>
            <td>
                <img src="~/Content/40 ex/Terror/te2 (3).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/terror_f/te2 (4).png" />
            </td>
        </tr>  
        <tr>
            <td>
                18
            </td>
            <td>
                Thinking
            </td>
            <td>
                <img src="~/Content/40 ex/thinking/te2 (5).png" />                
            </td>
            <td>
                <img src="~/Content/40 ex/thinking_f/te2 (6).png" />
            </td>
        </tr> 
        <tr>
            <td>
                19
            </td>
            <td>
                Vomiting
            </td>
            <td>
                <img src="~/Content/40 ex/vomiting/te2 (7).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/wink_f/te2 (9).png" />
            </td>
        </tr>  
        <tr>
            <td>
                20
            </td>
            <td>
                Wink
            </td>
            <td>
                <img src="~/Content/40 ex/wink_m/te2 (10).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/wink_f/te2 (9).png" />
            </td>
        </tr>   
        <tr>
            <td>
                21
            </td>
            <td>
                Wondering
            </td>
            <td>
                <img src="~/Content/40 ex/wondering_m/te2 (12).png" />
            </td>
            <td>
                <img src="~/Content/40 ex/wondering_f/te2 (11).png" />
            </td>
        </tr>     
    </tbody>
</table>
