@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron  well">
    <h2>
        ReggaeMoji
    </h2>
    <p>
        Immerse yourself into the emoji Culture with ReggaeMoji. The perfect way to communicate with millions of people all over the world using a wide range of colorful, unique & diverse Reggae Themed Emojis.
        Desinged for iMessage..
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="Gallery">View Emoji Gallery</a>
    </p>
</div>

<a href=""><img src="~/Content/1462672687_appstore2.png" alt="" style="float:right;" /></a>
<img src="~/Content/te0(15).png" alt="" style="height:150px;width:150px; margin-left:100px;margin-top:40px;"/>

