<div class="modal fade" id="modal-container-815387" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    ReggaeMoji - Privacy
                </h4>
            </div>
            <div class="modal-body">
                <img style="height:128px;width:128px;float:left;" src="~/Content/te0(13).png" alt=""/>
                Our policy at ReggaeMoji is to never collect, monitor, save, store, share, view or sell your personal information that you type, write, post, text,  or email. 
                <br/>
                We believe in every persons right to freedom of speech, and it goes against our values,<img style="height:128px;width:128px;float:right;" src="~/Content/te1(9).png" /> principles and beliefs to collect, monitor, save, store, share, view or sell your personal information that you type, write, post, text or email.<br/>
                In order for Our Emoji to give the user the full benefits of our app, we must be given full access to your keyboard due to Apple policy, but this is 
                strictly for the full benefits to the users of our app, and not in any way to collect, monitor, save, store, share, view or sell the users personal information that you type, write, post, text or email.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>               
            </div>
        </div>
    </div>
</div>	
